{% extends 'animalchic/index.html' %}

{% load i18n staticfiles %}

{% block extra_head %}
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.js"></script>
    <script src="{% static "js/datatable_function.js" %}"></script>
    <script type="text/javascript">
        var USERS_LIST_JSON_URL = "{% url 'animalchic:list_propietarios_json' %}";
        // translations for datatables

        var dt_language = {
            "emptyTable":     "{% trans "No hay datos disponibles" %}",
            "info":           "{% trans "Mostrando _START_ a _END_ de _TOTAL_ entradas" %}",
            "infoEmpty":      "{% trans "Mostrando 0 a 0 de 0 entradas" %}",
            "infoFiltered":   "{% trans "(filtrando de _MAX_ del total de entradas)" %}",
            "infoPostFix":    "",
            "thousands":      ",",
            "lengthMenu":     "{% trans "Mostrando _MENU_ entradas" %}",
            "loadingRecords": "{% trans "Cargando..." %}",
            "processing":     "{% trans "Procesando..." %}",
            "search":         "{% trans "Buscar:" %}",
            "zeroRecords":    "{% trans "No se han encontrado registros" %}",
            "paginate": {
                "first":      "{% trans "Primero" %}",
                "last":       "{% trans "Ultimo" %}",
                "next":       "{% trans "Siguiente" %}",
                "previous":   "{% trans "Previo" %}"
            },
            "aria": {
                "sortAscending":  "{% trans ": activar el ordenamiento de columnas ascendentes" %}",
                "sortDescending": "{% trans ": activar el ordenamiento de columnas descendentes" %}"
            }
        }
    </script>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4">
                <h2>Propietarios</h2>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

                <table class="datatable">
                    <thead>
                        <th> {% trans "Nombre" %}</th>
                        <th> {% trans "Direccion" %}</th>
                        <th> {% trans "Telefono" %}</th>
                        <th> {% trans "Observacion" %}</th>
                        <th></th>
                    </thead>
                    <tbody>
{#                        {% for row in instances %}#}
{#                            <tr>#}
{#                                <th>{{ row.propietario_nombre }}</th>#}
{#                                <th>{{ row.direccion }}</th>#}
{#                                <th>{{ row.telefono }}</th>#}
{#                                <th>{{ row.observacion }}</th>#}
{#                            </tr>#}
{#                        {% endfor %}#}
                    </tbody>
                </table>

                <a class="btn btn-success" href="{% url 'animalchic:new_propietario' %}">Agregar Propietario</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}