{% load i18n %}
<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<head>
    <meta charset="UTF-8">
    <title>Animal Chic</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimun-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://cdn.bootcss.com/twitter-bootstrap/3.0.2/js/bootstrap.min.js"></script>

    <script src="http://ajax.aspnetcdn.com/ajax/jquery/jquery-1.9.0.js"></script>
    {% block extra_head %}{% endblock %}

</head>
<body>
    <div class="container">
      <br>
      <header>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapsed" data-target="#navbar-1">
                <span class="sr-only">Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
                <img href="#" class="navbar-brand" src="{% static 'images/animalchic-logo.png' %}" width="100" >
            </div>

            <div class="navbar-collapse collapse" id="#navbar-1">
              <ul class="nav navbar-nav">
                  <li><a class="" href="{% url 'animalchic:list_propietarios' %}">Propietarios</a></li>
                  <li><a class="" href="{% url 'animalchic:list_pacientes' %}">Pacientes</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                 <li class="dropdown">
                     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.get_username }}<span class="caret"></span></a>
                     <ul class="dropdown-menu">
{#                         <li><a href="#">Configuraciones</a></li>#}
                        <li><a href="{% url 'animalchic:logout' %}">Salir</a></li>
                     </ul>
                 </li>
                {% endif %}
              </ul>
            </div>
          </div>
        </nav>
      </header>
    </div>
    <div class="container">
        {% block content %}

        {% endblock %}
    </div>

    <script src="{% static 'js/table_handle.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>#}
{#    <script src="{% static 'js/jquery.min.js' %}"></script>#}


    <!-- Include Date Range Picker -->
    {<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

    <script>
    $(document).ready(function() {
        $('.datepicker').datepicker();
    });
    $('tr[data-href]').on("click", function() {
        document.location = $(this).data('href');
    });
    $('#confirm-delete').on('show.bs.modal', function(e) {
        $(this).find('.btn-ok').attr('href', $(e.relatedTarget).data('href'));
    });
    </script>
</body>
</html>